<ol class="breadcrumb">
	<li><a href="/#">Kineo Technical Task</a></li>
	<li><a href="/#results">Results</a></li>
	<li class="active">Index</li>
</ol>

<div class="welcome">
	<hr />
	
	<p>Scelerisque vestibulum adipiscing fusce metus bibendum neque parturient sodales sem phasellus sed parturient sociis a aenean accumsan molestie a sociis non aliquam egestas. A tincidunt a nullam risus orci varius nullam vitae scelerisque a quam suspendisse a euismod consectetur duis senectus a a parturient et scelerisque parturient parturient parturient convallis. Massa tortor suspendisse fringilla a senectus placerat a mus et vestibulum velit a phasellus consectetur hac est eu.</p>
	
	<hr />
	
	<div class="clearfix"></div>
	
	<div class="container-fluid">		
		<div class="pull-right text-right">
			<!-- Filter results by constituency -->
			<label for="filter-constituency">Filter constituency:&nbsp;</label>
			<select id="filter-constituency">
				<option value="showall" selected>Show All</option>
				{{#if models}}
				{{#each models}}
				<option value="{{attributes.constituency_id}}">{{attributes.constituency}}</option>
				{{/each}}
				{{/if}}
			</select>
		</div>
		
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Candidate Name</th>
					<th>Party</th>
					<th>Constituency</th>
					<th>Vote Count</th>
				</tr>
			</thead>
			<tbody>
				<!-- Results -->
				{{#if models}}
				{{#each models}}
				<tr>
					<td>
						{{attributes.name}}
					</td>
					<td>
						{{attributes.party}}
					</td>
					<td>
						{{attributes.constituency}}
					</td>
					<td>
						{{attributes.count}}
					</td>
				</tr>
				{{/each}}
				{{/if}}
			</tbody>
		</table>
	</div>
</div>